NODE_ENV=development
DATABASE_HOST=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PORT=5432
DATABASE_SYNCHRONIZE=false
DATABASE_LOGGING=true

ELASTIC_APM_SERVER_URL=http://apm-server:8200
ELASTIC_APM_SERVICE_NAME=apm-example